<section>
  <ion-label>
    <h1>Inicio de sesi&oacute;n</h1>
  </ion-label>
  <ion-item>
    <ion-label><ion-icon name="mail-outline"></ion-icon></ion-label>
    <ion-input placeholder="correo electr&oacute;nico"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label><ion-icon name="key-outline"></ion-icon></ion-label>
    <ion-input type="password" placeholder="contrase&ntilde;a"></ion-input>
  </ion-item>
  <div>
    <ion-button fill="outline" color="success">Inciar</ion-button>
  </div>
  <div>
    <a [routerLink]="['/invoces']" routerLinkActive="router-link-active">Lista de facturas</a>
  </div>
  <div>
    <a [routerLink]="['/create']" routerLinkActive="router-link-active">Crear factura</a>
  </div>
</section>